<% include ../partials/header %>
  <div class="card  text-center">
    <div class="card-header">
      <%= user.username %>
    </div>
    <div class="card-body">
      <h5 class="card-title">
        <%= user.email %>
      </h5>
      <p class="card-text">
        <img class="rounded-circle" src="<%= user.avatar%>" alt="user-picture">

      </p>
      <a href="/" class="btn btn-primary">Go Back</a>

    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>

  <% include ../partials/footer %>