/* Global */
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1rem;
  line-height: 1.5;
  color: #797979;
  /* background: #f7f7f7; */
}
.form-control:focus {
  box-shadow: none;
}
.alert {
  margin-bottom: 0 !important ;
  padding-right: 2rem;
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
  box-shadow: 2px 4px 20px -4px rgba(0, 0, 0, 0.1);
}
.alert-dismissible .close {
  padding: 0.45rem 0.5rem;
}
.alert-danger {
  background-color: #e83f56;
  border-color: #e83f56;
  color: #fff;
}

.badge-danger {
  background: #e83f56;
}
.bg-danger {
  background: #e83f56;
}
.bg-success {
  background-color: #01cc6e !important;
}
.bg-warning {
  background: #fcae0c !important;
}
.bg-light {
  background: #f0f0f0 !important;
}
.text-info {
  color: #9b4cab !important;
}
/* Card  */
.card {
  box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07),
    0 2px 9px 0 rgba(62, 57, 107, 0.06);
  /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); */
  border: none;
}
/* Top navigation */
.navbar {
  z-index: 1;
  box-shadow: 2px 4px 20px -4px rgba(0, 0, 0, 0.1);
}
.navbar .form-inline {
  margin-left: 260px;
}

/* Side navigation */
/* .sidebar {
  background: #34495e;
  max-width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  height: 100vh;
}

.sidebar a {
  color: #c3c3c3;
  text-transform: capitalize;
  font-size: 16px !important;
}
.sidebar .logo {
  height: 56px;
} */
.sidebar {
  max-width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  padding: 0;
  height: 100vh;
  background: url("../img/sidebar.jpg") fixed no-repeat;
  background-size: cover;
}
.sidebar .glass {
  width: 240px;
  height: 100vh;
  background: inherit;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  border-radius: 8px;
}
.sidebar .glass::before {
  width: 280px;
  height: 105vh;
  content: "";
  position: absolute;
  left: -25px;
  right: 0;
  top: -25px;
  bottom: 0;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.2);
  filter: blur(10px);
}
.sidebar .glass .glass-inner {
  position: absolute;
  width: 100%;
}
.sidebar .glass .glass-inner .logo {
  height: 40px;
  padding: 8px 16px;
  display: block;
}
.sidebar .nav-link {
  color: #fdfdfd;
}
.sidebar .active {
  background: rgba(255, 255, 255, 0.1);
}
/* Main area */
/* Greating msg */
.greeting-msg img {
  max-width: 68px;
}

.sub-nav {
  margin-top: 58px;
  padding: 25px 0 25px 290px;
  background: #fff;
  color: #333;
  font-weight: black;
}
.main {
  margin-left: 260px;
  margin-top: 58px;
}
/* First 4 tabs */
.main .team div:first-of-type {
  background: #78c2bf;
}
.main .team div:last-of-type {
  background: #66bab7;
}
.main .quick-view .card-title {
  color: #8b4f95;
}
.main .quick-view .list-group:last-of-type {
  margin-bottom: 1rem;
}
/* Table  */
.table thead th,
.table td,
.table th,
.table tbody + tbody {
  border: none;
  vertical-align: middle;
}
table td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
}
.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.01);
}
/* Form */
