/* Global */
body {
  background: #f5f7fa;
}

/* Card  */
.card {
  box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07),
    0 2px 9px 0 rgba(62, 57, 107, 0.06);
}
/* Top navigation */
.navbar {
  background: #fff;
  box-shadow: 2px 4px 20px -4px rgba(0, 0, 0, 0.1);
}
.bmd-form-group.bmd-collapse-inline {
  margin-left: 260px;
}

/* Side navigation */
.sidebar {
  background: #404e67;
  max-width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  height: 100vh;
}

.sidebar a {
  color: #c3c3c3;
  text-transform: capitalize;
  font-size: 16px !important;
}
.sidebar .logo {
  height: 56px;
}

/* Main area */
.main {
  margin-left: 260px;
}

/* Table  */
table form {
  margin-bottom: 0;
}
table td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
}
.table-hover tbody tr:hover {
  background-color: rgba(245, 247, 250, 0.5);
}
.table td,
.table th {
  border-top: none;
}
/* Form */
