<% include ../partials/header %>
  <h1 class="h2 text-center mb-5">
    Add new country</h1>
  <div class="card col-xl-6 mx-auto ">
    <div class="card-body">
      <form action="/track" method="POST">
        <div class="form-group">
          <label for="product">Select product: </label>
          <select class="form-control" name="product">
            <% products.reverse().forEach(function(product){ %>
              <option value="<%= product.name %>">
                <%= product.name %>
              </option>
              <% }); %>
          </select>
        </div>
        <div class="form-group">
          <label for="country">Select country:</label>
          <!-- <select class="form-control" name="country">
            <option>AE</option>
            <option>FR</option>
            <option>DE</option>
          </select> -->
          <input type="text" name="country" class="form-control">
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xl-6">
              <label for="proof">Send for proff </label>
              <input class="datePicker form-control" type="date" name="proof">
              <label for="done">Proofreading completed</label>
              <input class="passed" type="checkbox" value="of" name="isFinishedProof">
            </div>
            <div class="col-xl-6">
              <label for="proof">Send for QA </label>
              <input class="datePicker form-control" type="date" name="qa">
              <label for="done">QA test completed</label>
              <input class="passed" type="checkbox" value="of" name="isFinishedQa">
            </div>
          </div>
        </div>
        <input type="submit" class="btn btn-raised btn-primary w-100 text-center">
      </form>
    </div>

  </div>
  <script>
    let datePicker = document.querySelectorAll('.datePicker'),
      i;
    let passed = document.querySelectorAll('.passed'),
      y;

    // Always display today date in the datepicker
    for (i = 0; i < datePicker.length; i++) {
      datePicker[i].value = new Date().toDateInputValue();
    }


    for (y = 0; y < passed.length; y++) {
      passed[y].addEventListener('click', function () {
        if (this.checked == true) {
          this.value = 'on';
          this.previousElementSibling.previousElementSibling.disabled = true;
          this.previousElementSibling.previousElementSibling.value = '';
          console.log(this.value);
        } else {
          this.value = 'of';
          this.previousElementSibling.previousElementSibling.disabled = false;
          this.previousElementSibling.previousElementSibling.value = new Date().toDateInputValue();
          console.log(this.value);
        }
      });
    }
  </script>
  <% include ../partials/footer %>