<% include ../partials/header %>
  <h1 class="h2 text-center mb-5">
    Add new country</h1>
  <div class="card col-xl-6 mx-auto ">
    <div class="card-body">
      <form action="/track" method="POST">
        <div class="form-group">
          <label for="product">Select product: </label>
          <select class="form-control" name="product">
            <% products.reverse().forEach(function(product){ %>
              <option value="<%= product.name %>">
                <%= product.name %>
              </option>
              <% }); %>
          </select>
        </div>
        <div class="form-group">
          <label for="country">Select country:</label>
          <select class="form-control" name="country">
            <option>AE</option>
            <option>FR</option>
            <option>DE</option>
          </select>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xl-6">
              <label for="proof">Send for proff </label>
              <input class="datePicker" type="date" name="proof">
            </div>
            <div class="col-xl-6">
              <label for="proof">Send for QA </label>
              <input class="datePicker" type="date" name="qa">
            </div>
          </div>
        </div>
        <input type="submit" class="btn btn-raised btn-primary w-100 text-center">
      </form>
    </div>

  </div>
  <script>
    $('#datepicker').datepicker({
      uiLibrary: 'bootstrap4'
    });
    Date.prototype.toDateInputValue = (function () {
      var local = new Date(this);
      local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
      return local.toJSON().slice(0, 10);
    });
    let datePicker = document.querySelectorAll('.datePicker'),
      i;
    for (i = 0; i < datePicker.length; i++) {
      datePicker[i].value = new Date().toDateInputValue();
    }
  </script>
  <% include ../partials/footer %>